/* #553f3a #bb2b2a #fff9e9 #ccdee2
#4b9ab4 */

html {
  background-color: #fff9e9;
  text-align: center;
}

h1 {
  color: #bb2b2a;
  font-size: 50px;
  font-family: "monoton";
  margin: 0;
}

.square {
  background-color: #ccdee2;
  border: 0.5px solid #272324;
}

.color {
  background-color: #272324;
  border: 0.5px solid #272324;
}

.container {
  margin: auto;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 70px solid #4b9ab4;
  border-radius: 5px;
  height: 400px;
  width: 400px;
}

div button {
  margin-top: 20px;
}

.btn-reset {
  color: #fff;
  display: inline-block;
  padding: 15px 40px;
  border: none;
  border-radius: 200px;
  background-color: #bb2b2a;
  cursor: pointer;
}
